.main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/background-landscape.jpg');
  background-size: 100%;
}

.cardContainer {
  background: rgba(255,255,255,0.8);
  padding: 20px;
  width: 95vw;
  height: 95vh;
  max-width: 800px;
  max-height: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .main {
    background-repeat: no-repeat;
    background-size: cover;
  }
}