@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  font-family: 'Questrial', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button, input {
  border: none;
  background: none;
  font-family: 'Questrial', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}